@model Nsx
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Quản lý nhà sản xuất</div>
                <hr>
                <form asp-action="Create">
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label>Tên nhà sản xuất</label>
                            <span asp-validation-for="Ten" class="text-warning font-weight-bold"></span>
                        </div>
                        <input type="text" class="form-control" asp-for="Ten" placeholder="Nhập tên nhà sản xuất">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-light px-5 mr-2">Thêm nhà sản xuất</button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 20%">Mã</th>
                                <th style="width: 25%">Tên nhà sản xuất</th>
                                <th style="width: 30%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Nsx x in ViewBag.Nsx)
                            {
                                <tr>
                                    <th>@x.Id</th>
                                    <td>@x.Ten</td>
                                    <td style="display: flex; gap: 10px">
                                        @Html.ActionLink("Sửa nhà sản xuất", "Update", "Nsx", new { id = x.Id }, new { @class = "btn btn-success" })
                                        <form asp-action="Remove" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa nhà sản xuất này?')">
                                            <button class="btn btn-danger" type="submit" name="id" value="@x.Id">Xóa nhà sản xuất</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @await Html.PartialAsync("Pagination", new PaginationViewModel
                {
                    CurrentPageIndex = ViewBag.CurrentPageIndex,
                    PageCount = ViewBag.PageCount,
                    PageName = "Nsx"
                })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

