@model MauSac
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title text-uppercase">Quản lý màu sắc</div>
                <hr>
                <form asp-action="Update">
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label>Tên màu sắc</label>
                            <span asp-validation-for="Ten" class="text-warning font-weight-bold"></span>
                        </div>
                        <input class="form-control" asp-for="Ten" placeholder="Nhập tên màu sắc">
                    </div>
                    <div class="form-group">
                        <button value="@Model.Id" name="Id" class="btn btn-success px-5">Sửa màu sắc</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

