@model List<MINKY_STORE_WEB_APPLICATION.Models.SanPhamViewModel>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Giỏ hàng</div>
                <hr>
                <div class="row d-flex justify-content-center my-4">
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Cart - 2 items</h5>
                            </div>
                            <div class="card-body">
                                <!-- Single item -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
                                                 class="w-100" />
                                        </div>
                                        <!-- Image -->
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <!-- Data -->
                                        <p><strong>Blue denim shirt</strong></p>
                                        <p>Màu sắc: blue</p>
                                        <button type="button" class="btn btn-primary btn-sm mb-2">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <!-- Data -->
                                    </div>

                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- Quantity -->
                                        <div class="d-flex mb-4" style="max-width: 300px">
                                            <button class="btn btn-primary px-3">
                                                <i class="fa fa-minus"></i>
                                            </button>

                                            <div>
                                                <input min="0" name="quantity" value="1" type="number" class="form-control" />
                                            </div>

                                            <button class="btn btn-primary px-3">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <!-- Quantity -->
                                        <!-- Price -->
                                        <p class="text-md-center">
                                            <strong>$17.99</strong>
                                        </p>
                                        <!-- Price -->
                                    </div>
                                </div>
                                <!-- Single item -->

                                @* <hr class="my-4" /> *@

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>Summary</h5>
                            </div>
                            <div class="card-body">
                                <p>Tiền sản phẩm: $100</p>
                                <p>Tiền ship: $30</p>
                                <hr/>
                                <strong>Tổng tiền: $130</strong>
                                <button type="button" class="btn btn-primary btn-lg btn-block mt-3">
                                    Thanh toán
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

