@model List<EF_CODE_FIRST_FINAL_ASSIGNMENT.DomainClass.DongSp>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Quản lý dòng sản phẩm</div>
                <hr>
                <form action="/dongsp/create" method="post">
                    <div class="row">
                        <div class="form-group col-6">
                            <label>Mã dòng sản phẩm</label>
                            <input type="text" class="form-control" name="Ma" placeholder="Nhập mã dòng sản phẩm">
                        </div>
                        <div class="form-group col-6">
                            <label>Tên dòng sản phẩm</label>
                            <input type="text" class="form-control" name="Ten" placeholder="Nhập tên dòng sản phẩm">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-light px-5 mr-2">Thêm dòng sản phẩm</button>
                    </div>
                </form>
                <h5 class="card-title">Danh sách dòng sản phẩm</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 20%">STT</th>
                                <th style="width: 25%">Mã dòng sản phẩm</th>
                                <th style="width: 25%">Tên dòng sản phẩm</th>
                                <th style="width: 30%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <th>@i</th>
                                    <td>@Model[i].Ma</td>
                                    <td>@Model[i].Ten</td>
                                    <td>
                                        <a href="/dongsp/detail/@Model[i].Id" class="btn btn-success px-5">Sửa dòng sản phẩm</a>
                                        <a href="/dongsp/remove/@Model[i].Id" class="btn btn-danger px-5" onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa dòng sản phẩm</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

